[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-restful = "==0.3.10"
flask-sqlalchemy = "==3.1.1"
pandas = "==2.0.3"
psycopg2-binary = "==2.9.10"
requests = "==2.32.3"
sqlalchemy = "==2.0.40"
twder = "==0.2.2"
yfinance = "==0.2.37"
html5lib = "==1.1"
multitasking = "==0.0.11"

[dev-packages]

[requires]
python_version = "3.8.10"
